/*CSS*/
/*.backgroundVerde{background-color:green;color:white}
.backgroundVermelho{background-color:red;color:white}
#avisoHomologacao{position:fixed; right:5px; bottom:25px; width:100px; height:100px;opacity:0.5;}
#esconderAside{position:fixed; right:115px; bottom:75px;width:60px;font-size:12px;}
#esconderHeader{position:fixed; right:115px; bottom:50px;width:60px;font-size:12px;}
#esconderFooter{position:fixed; right:115px; bottom:25px;width:60px;font-size:12px;}
#exemploCalculaSt{position:fixed; right:115px; bottom:100px;width:60px;font-size:12px;background-color:blue;color:white;}
#exemploASN{position:fixed; right:115px; bottom:100px;width:60px;font-size:12px;background-color:blue;color:white;}*/